<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              [formControlName]="'username'"
              class="form-control">
          </div>
          <span class="help-block" *ngIf="!signupForm.get('userData.username').valid">
            <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']"> This name is invalid!</span>
            <span *ngIf="signupForm.get('userData.username').errors['required']"> This name is required!</span>
          </span>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              [formControlName]="'email'"
              [ngClass]="{'pending': signupForm.get('userData.email').pending, 'redbox': signupForm.get('userData.email').invalid, 'form-control': true}">
          </div>
          <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">
            Not valid email!
          </span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              [formControlName]="'gender'"
              type="radio"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button
            type="button"
            class="btn btn-default"
            (click)="onAddHobby()">Add Hobby!</button>
            <div class="form-group"
            *ngFor = "let hobbyControl of signupForm.get('hobbies').controls; let i=index">
                <input type="text" class="form-control" [formControlName]="i">
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]=!signupForm.valid>Submit</button>
      </form>
    </div>
  </div>
</div>
